svg {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

path.domain {
    stroke: none;
}

.y .tick line {
    stroke: #ddd;
}

#dropdownMenuButton{
    margin-top: 20px;
}

#seat_table{
    display: none;
}

#canvas1{
    padding: 5px;
}

#canvas2{
    padding: 50px;
}